        <p>
            <a th:href="@{/compliances/code_of_ethic}" method="GET" class="btn-sm btn-info"><i class="glyphicon glyphicon-check"></i>   Lista aktywnych Kodeksow Etyki</a>
            <a th:href="@{/compliances/code_of_ethic/employee_without}" method="GET" class="btn-sm btn-info"><i class="glyphicon glyphicon-education"></i>   Lista pracownikow bez szkolenia Kodeksu Etyki</a>
            <a th:href="@{/compliances/code_of_ethic/employee_all}" method="GET" class="btn-sm btn-info"><i class="glyphicon glyphicon-user"></i>   Lista wszystkich pracownikow</a>
        </p>
