<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layout/mainLayout">

<head>
	<title>Edycja Pracownika</title>
	<script type="text/javascript" th:src="@{'/assets/w3/js/csi.js'}"></script>
</head>
<body>

<div layout:fragment="content">

	<script type="text/javascript" th:src="@{'/assets/bootstrap/bootstrap-datepicker.js'}"></script>
	<script type="text/javascript" th:src="@{'/assets/bootstrap/js/bootstrap-datepicker.js'}"></script>
	<script type="text/javascript" th:src="@{'/assets/bootstrap/js/bootstrap-datepicker.min.js'}"></script>


	<div class="box box-warning">
		<div class="box-header with-border">
			<h3 class="box-title">Pracownik</h3>
			<div class="box-tools">
				<div class="input-group" style="width: 150px;" data-include="employees_menu">
				</div>
			</div>
		</div><!-- /.box-header -->
		<div class="box-body">

			<form role="form" th:action="@{/employees/{id}}" th:object="${employeeedit}" method="post"  enctype="multipart/form-data">
				<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
				<!-- text input -->
				<div class="form-group col-md-2" th:classappend="${#fields.hasErrors('firstname')}? 'has-error'">
					<label>Numer SAP</label>
					<input type="text" class="form-control" name="numbersap" th:field="*{numbersap}" placeholder="Enter Section Name" readonly="readonly"/>
					<p th:if="${#fields.hasErrors('numbersap')}" th:errors="*{numbersap}" th:class="text-red">Incorrect data</p>
				</div>
				<!-- text input -->
				<div class="form-group col-md-3" th:classappend="${#fields.hasErrors('firstname')}? 'has-error'">
					<label>Imie</label>
					<input type="text" class="form-control" name="firstname" th:field="*{firstname}" placeholder="Enter Section Name" readonly="readonly"/>
					<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" th:class="text-red">Incorrect data</p>
				</div>
				<!-- text input -->
				<div class="form-group col-md-3" th:classappend="${#fields.hasErrors('lastname')}? 'has-error'">
					<label>Nazwisko</label>
					<input type="text" class="form-control" name="lastname" th:field="*{lastname}" placeholder="Enter Section Name" readonly="readonly"/>
					<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:class="text-red">Incorrect data</p>
				</div>
				<!-- text input -->
				<div class="form-group col-md-2" th:classappend="${#fields.hasErrors('lastname')}? 'has-error'">
					<label>Status</label>
					<input type="text" class="form-control" name="statusEmployee.name" th:field="*{statusEmployee.name}" placeholder="Enter Section Name" readonly="readonly"/>
					<p th:if="${#fields.hasErrors('statusEmployee.name')}" th:errors="*{statusEmployee.name}" th:class="text-red">Incorrect data</p>
				</div>

				<div class="table tab-content col-md-12">

						<!--Cialo#1 START -->


							<table class="table table-hover">
								<h1>Angaz</h1>
								<tr>
									<th style="width: 10px">#</th>
									<th>Stanowisko</th>
									<th>Grupa</th>
									<th>Data rozpoczecia</th>
									<th>Firma</th>
									<th>Pion</th>
									<th>Dzial</th>
									<th>Skrot</th>
									<!--<th>Status</th>-->
									<th>

									</th>
									<th></th>
								</tr>


								<tr th:each="employeedata,iterStat : ${employeedataedit}">
									<td><span th:text="${iterStat.count}">1</span></td>
									<td th:text="${employeedata.workposition}">Employeedata Workposition</td>
									<td th:text="${employeedata.groupdesignation}">Employeedata Groupdesignation</td>
									<td th:text="${employeedata.beginningofvalidity}">Employeedata Beginningofvalidity</td>

									<td th:text="${employeedata.department.sectionTop != null} ? ${employeedata.department.sectionTop.company.name} : ${employeedata.department.departmentMiddle.sectionTop.company.name}"></td>
									<td th:text="${employeedata.department.sectionTop != null} ? ${employeedata.department.sectionTop.name} : ${employeedata.department.departmentMiddle.sectionTop.name}"></td>

									<td th:text="${employeedata.department.name}">Departament Name</td>

									<td th:text="${employeedata.department.shortname}">Departament Shortname</td>

									<td>

									</td>

									<td>

									</td>
								</tr>
							</table>


					<!--Cialo#1 START -->


						<table class="table table-hover col-md-3">
							<h1>Ksiazka zadan</h1>
							<tr>
								<th style="width: 10px">#</th>
								<th>Data rozpoczecia</th>
								<th></th>
								<th>
									<button type="button" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#myModal">
											<span class="glyphicon glyphicon-plus" aria-hidden="true">

                                    		</span>
									</button>
								</th>
							</tr>


							<tr th:each="taskbook,iterStat : ${taskbookedit}">
								<td><span th:text="${iterStat.count}">1</span></td>
								<td th:text="${taskbook.taskbookdate}">Employeedata NumberSAP</td>
								<td>
									<a th:href="@{/employees/open/{id}(id=${taskbook.id})}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true">

                                                </span>
									</a>

									<a th:href="@{/employees/download/{id}(id=${taskbook.id})}" type="button" class="btn btn-default btn-sm" media="print" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-download" aria-hidden="true">

                                                </span>
									</a>
								</td>
								<td></td>
							</tr>
						</table>

				</div>

			</form>

		</div><!-- /.box-body -->

	</div><!-- /.box -->

	<!-- WYSKAKUJACE OKNO -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<form role="form" th:action="@{/employees/{ide}/create (ide=30)}" th:object="${employeeform}" method="POST" enctype="multipart/form-data">
					<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
					<!-- text input -->

					<div class="modal-header">

						<h4 class="modal-title"><b>Dodaj nowa ksiazke zadan uzytkownikowi o numerze SAP: <a name="employeesap"></a> </b></h4>

					</div>

					<div class="container">
						<br/>

						<label>Data rozpoczecia waznosci Ksiegi Zadan: : </label>

						<br/>

							<input type="datetime" autocomplete="off" class="input-sm form-control" name="taskbookdate" id="start"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>

						</div>


						<br/>
						<div class="input-daterange input-group col-md-3" th:classappend="${#fields.hasErrors('image')}? 'has-error'">
							<label for="image">Dodaj Oswiadczenie: </label>
							<input type="file" class="input-sm form-control" name="image" th:field="*{image}"/>
							<p class="help-block">Wybierz plik z rozszerzeniem PDF</p>
						</div>

						<script>
                            $('.datepicker').datepicker({
//                                format: "yyyy-mm-dd",
                                format: "dd/mm/yyyy",
                                weekStart: 1,
                                todayBtn: "linked",
                                clearBtn: true,
                                multidate: false,
                                forceParse: false,
                                daysOfWeekHighlighted: "0,6",
                                todayHighlight: true,
                                toggleActive: true,
                                endDate: '+30d'
                            });
						</script>



					<div class="modal-footer">

						<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Zapisz</button>
						<button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Anuluj</button>

					</div>
				</form>
			</div>
		</div>
	</div><!-- endWYSKAKUJACE OKNO -->

</div>
<script>
    w3.includeHTML();
</script>
</body>

</html>
