<p>
    <a th:href="@{/employees}" method="GET" class="btn-sm btn-info"><i class="fa fa-users"></i>   Pracownicy</a>
    <a th:href="@{/employees/employees_without}" method="GET" class="btn-sm btn-info"><i class="glyphicon glyphicon-user"></i>   Pracownicy bez Ksiag Zadan</a>
    <a th:href="@{/employees/add_employees}" method="GET" class="btn-sm btn-warning"><i class="glyphicon glyphicon-download-alt"></i>   Nowi pracownicy</a>
    <a th:href="@{/employees/update_employees}" method="GET" class="btn-sm btn-warning"><i class="glyphicon glyphicon-download-alt"></i>   Aktualizacja pracownikow</a>
    <a th:href="@{/employees/uploads_taskbook}" method="GET" class="btn-sm btn-warning"><i class="glyphicon glyphicon-book"></i>   Zaladuj ksiazke zadan</a>
</p>